./firmados
./originales


# Otros
__pycache__/
__pycache__
*.pyc


# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd


.env


/app/storage/firmados/*
/app/storage/originales/*